@using Nop.Web.Framework
@model GPGVM.Nop.Access.IdentityServer.Plugin.Models.RedirectUriModel


<div class="row">
    <div class="col-md-1">
        @Html.NopLabelFor(x => x.UriName)
    </div>
    <div class="col-md-2">
        @Html.NopEditorFor(x => x.UriName)
        @Html.ValidationMessageFor(model => model.UriName)
    </div>
    <div class="col-md-1">
        @Html.NopLabelFor(x => x.Uri)
    </div>
    <div class="col-md-8">
        @Html.NopEditorFor(x => x.Uri)
        @Html.ValidationMessageFor(model => model.Uri)
    </div>
</div>
