@{
    Layout = "_AdminLayout.cshtml";
}
@using Nop.Core.Infrastructure
@using Nop.Services.Events
@using Nop.Web.Framework;
@using Nop.Web.Framework.Events  

<script>
    $(document).ready(function() {
        bindBootstrapTabSelectEvent('identity-edit');
    });
</script>



<div class="content">
    <div class="form-horizontal">
        <div id="identity-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-clients", @T("GPGVM.NOP.IdentityServer.Clients.TabName"), true)
                @Html.RenderBootstrapTabHeader("tab-scopes", @T("GPGVM.NOP.IdentityServer.Scopes.TabName"))
                @Html.RenderBootstrapTabHeader("tab-users", @T("GPGVM.NOP.IdentityServer.Users.TabName"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-clients", @TabClients(), true)
                @Html.RenderBootstrapTabContent("tab-scopes", @TabScopes())
                @Html.RenderBootstrapTabContent("tab-users", @TabUsers())
            </div>
        </div>
    </div>
</div>


@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "identity-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">




@helper TabClients()
{

    Html.RenderAction("LoadClients", "ClientConfiguration");
    
}

@helper TabScopes()
{
    <h1>Scopes</h1>
}

@helper TabUsers()
{
    <h1>Users</h1>
}