<!DOCTYPE html>
<html>
<head>
    <title>Train Right Admin</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/kendo/2016.1.226/scripts")

    @Styles.Render("~/Content/kendo/2016.1.226/css")


    @RenderSection("Styles", false)


</head>
<body>
    @RenderBody()
</body>
</html>
